<mat-toolbar color="primary">
  <mat-toolbar-row> <h3>Boat App</h3></mat-toolbar-row>
  <mat-toolbar-row >
    <span class="spacer"></span>
    <div>
      <a routerLink="/boats/">
        <button mat-mini-fab matTooltip="Home" color="primary" aria-label="Home button">
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <ng-container *ngIf = "!isAuthenticated() ; else authenticated">
        <button mat-raised-button color="primary" routerLink ="/login" routerLinkActive="active" >Login</button>
        <button mat-raised-button color="primary" routerLink ="/register" routerLinkActive="active">Register</button>
      </ng-container>
      <ng-template #authenticated>
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
        <app-welcome></app-welcome>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
