.register-container {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

form {
  width: 100%;
}

.register-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.register-toolbar {
  justify-content: center;
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
  display: block;
}

.submit-button {
  width: 100%;
  display: block;
  margin-top: 15px;
}
